*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: burlywood;
}

.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: white;
}

.navegacion ul {
    list-style: none;
    
}

.menu > li{
   /* position: relative;*/
   display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: blueviolet;
    font-family: "open sans";
    text-decoration: none;
}

.menu > li> a :hover {
    color: rgb(255, 0, 0);
    transition: all 0.3s;
    
}
/*submenu*/

.submenu{
    position: absolute;
    background: rgb(43, 226, 141);
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    
}

.submenu li a{
    display: block;
    padding: 15px;
    color: brown;
    font-family: "open sans";
    text-decoration: none;
} 

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}


